{
  "description":"This is the base image for org, based off https://vagrantcloud.com/ubuntu/boxes/trusty64."
  "short_description":"Org Base Image - Ubuntu 14.04 LTS 64-bit.",
  "name":"org/base-trusty64",
  "versions":
  [
    {
      "version":"1.0.0",
      "status":"active",
      "description_html": "Initial version",
      "description_markdown":"",
      "providers":
      [
        {
          "name":"virtualbox",
          "url":"http://vagrant.org.com/org/base-trusty64/versions/1.0.0/virtualbox/base-trusty64-1.0.0-virtualbox.box"
        }
      ]
    },
    {
      "version":"1.1.0",
      "status":"active",
      "description_html": "Initial version",
      "description_markdown":"",
      "providers":
      [
        {
          "name":"virtualbox",
          "url":"http://vagrant.org.com/org/base-trusty64/versions/1.1.0/virtualbox/base-trusty64-1.1.0-virtualbox.box"
        }
      ]
    }
  ]
}
